Caisis.UI/App_WebReferences/Caisis/Services/Clients/SSDMF/dmfwbsvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipLumpSum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MaxRows" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQueryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuery2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipLumpSum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MaxRows" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ReturnURL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuery2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuery2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetQuerySoapIn">
    <wsdl:part name="parameters" element="tns:GetQuery" />
  </wsdl:message>
  <wsdl:message name="GetQuerySoapOut">
    <wsdl:part name="parameters" element="tns:GetQueryResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuery2SoapIn">
    <wsdl:part name="parameters" element="tns:GetQuery2" />
  </wsdl:message>
  <wsdl:message name="GetQuery2SoapOut">
    <wsdl:part name="parameters" element="tns:GetQuery2Response" />
  </wsdl:message>
  <wsdl:message name="GetQueryHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SSN" type="s:string" />
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="LName" type="s:string" />
    <wsdl:part name="ZipCode" type="s:string" />
    <wsdl:part name="ZipLumpSum" type="s:string" />
    <wsdl:part name="DOD" type="s:string" />
    <wsdl:part name="DOB" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="MaxRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQueryHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetQuery2HttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SSN" type="s:string" />
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="LName" type="s:string" />
    <wsdl:part name="ZipCode" type="s:string" />
    <wsdl:part name="ZipLumpSum" type="s:string" />
    <wsdl:part name="DOD" type="s:string" />
    <wsdl:part name="DOB" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="MaxRows" type="s:string" />
    <wsdl:part name="ReturnURL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuery2HttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetQueryHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SSN" type="s:string" />
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="LName" type="s:string" />
    <wsdl:part name="ZipCode" type="s:string" />
    <wsdl:part name="ZipLumpSum" type="s:string" />
    <wsdl:part name="DOD" type="s:string" />
    <wsdl:part name="DOB" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="MaxRows" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQueryHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="GetQuery2HttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="SSN" type="s:string" />
    <wsdl:part name="FName" type="s:string" />
    <wsdl:part name="LName" type="s:string" />
    <wsdl:part name="ZipCode" type="s:string" />
    <wsdl:part name="ZipLumpSum" type="s:string" />
    <wsdl:part name="DOD" type="s:string" />
    <wsdl:part name="DOB" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="MaxRows" type="s:string" />
    <wsdl:part name="ReturnURL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetQuery2HttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetQuery">
      <wsdl:input message="tns:GetQuerySoapIn" />
      <wsdl:output message="tns:GetQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <wsdl:input message="tns:GetQuery2SoapIn" />
      <wsdl:output message="tns:GetQuery2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="GetQuery">
      <wsdl:input message="tns:GetQueryHttpGetIn" />
      <wsdl:output message="tns:GetQueryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <wsdl:input message="tns:GetQuery2HttpGetIn" />
      <wsdl:output message="tns:GetQuery2HttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="GetQuery">
      <wsdl:input message="tns:GetQueryHttpPostIn" />
      <wsdl:output message="tns:GetQueryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <wsdl:input message="tns:GetQuery2HttpPostIn" />
      <wsdl:output message="tns:GetQuery2HttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuery">
      <soap:operation soapAction="http://tempuri.org/GetQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <soap:operation soapAction="http://tempuri.org/GetQuery2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuery">
      <soap12:operation soapAction="http://tempuri.org/GetQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <soap12:operation soapAction="http://tempuri.org/GetQuery2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetQuery">
      <http:operation location="/GetQuery" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <http:operation location="/GetQuery2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetQuery">
      <http:operation location="/GetQuery" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuery2">
      <http:operation location="/GetQuery2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="https://www.ssdmf.com/websvc/dmfwbsvc.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="https://www.ssdmf.com/websvc/dmfwbsvc.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="https://www.ssdmf.com/websvc/dmfwbsvc.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="https://www.ssdmf.com/websvc/dmfwbsvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>